# Change the following six lines to match your Gmail account details
set imap_user = "you@example.com"
set imap_pass = "your password"
set smtp_url = "smtps://you@example.com:your password@smtp.gmail.com:587/"
set from = "you@example.com"
set realname = "Your Name"
