.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.directory
._*
Icon?
Thumbs.db
ehthumbs.db
*.swp
*~
.#*
.gitconfig.os
*.swo
.idea
.project
.pydevproject
.~lock.jobs.odg#
.vscode
*.bak
__pycache__/

.boartty.yaml
.gertty.yaml
*.pyc
.venv/

package-lock.json
