[user]
	name = Masayuki Igawa
	email = masayuki.igawa@gmail.com
[color]
	ui = auto
[gui]
	recentrepo = /Users/igawa/Documents/workspace/Simple-Massager
[core]
	quotepath = false
 excludesfile = /opt/boxen/config/git/gitignore

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential
