[user]
	name = Masayuki Igawa
	email = masayuki.igawa@gmail.com
[color]
	ui = auto
[gui]
	recentrepo = /Users/igawa/Documents/workspace/Simple-Massager
[core]
	quotepath = false
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
	pager = less
	attributesfile = ~/.gitattributes_global

[hub]
protocol = https

[include]
path = .gitconfig.os

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
