[user]
	name = Masayuki Igawa
	email = masayuki@igawa.me
	username = masayukig
[color]
	ui = auto
[core]
	quotepath = false
	excludesfile = ~/.gitignore
	editor = /usr/bin/vim
	pager = less
	attributesfile = ~/.gitattributes_global

[hub]
protocol = https

[include]
path = .gitconfig.os

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[tig "bind"]
	generic = g move-first-line
	generic = G move-last-line
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff]
	compactionHeuristic = true
[commit]
	gpgsign = true
[gitreview]
	username = igawa
